
  <!-- Modal Structure -->
  <div id="rentattireModalTrans" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Rent Attire</h5>
      <div class='row'>
        <div class='input-field col s3'>
          <input type='date' id='rentstartdateTrans' class='datepicker1'>
          <label for='rentdate' class='userLabel'>Date Start Rent</label>
        </div>
        <div class='input-field col s3'>
          <input type='date' id='rentenddateTrans' class='datepicker1'>
          <label for='rentenddate' class='userLabel'>Date End Rent</label>
        </div>
      </div>
      <div class='row'>
        <div class='col s6'  style="height: 200px; overflow-y: auto;">
          <table class="highlight">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Add Item</th>
            </tr>
          </thead>
          <tbody id = 'loadInventoryItemsHereTrans'>

          </tbody>
        </table>
        <center>
          <ul id = 'inventoryPaginationTrans'>
          </ul>
        </center>
        </div>
        <div class='col s3'>
          <div class='input-field'>
          <select id='rentpackageTrans'>
            <!--Load Packages List-->
          </select>
          </div>
          <div class='input-field'>
            <input type='text' id='packagePriceTrans'>
            <label for='packagePriceTrans' class='userLabel'>Package Price</label>
          </div>
        </div>
        <div class='col s6'>
          <div class='col s5' style="height: 200px; border: 1px solid black; margin-left: 20px;" id='previewItemTrans'>
            <img class="responsive-img" id ='itemImageTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class='row' style="height: 200px; overflow-y: auto;">
        <div class='col s12'>
          <table class="highlight">
            <thead>
              <tr>
                <td>Item Code</td>
                <td>Qty</td>
                <td>Total Price</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody id = "addItemsHereTrans">

            </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'rentAttireModalButtonTrans'>Done</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
