
  <!-- Modal Structure -->
  <div id="measurementFemaleModalTrans" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitleTrans'>Tailor Attire Female</h5>

      <div class='row'>
        <div class='input-field col s4'>
        <input type='text' id="nameFemaleTrans" class='validate'>
        <label for='nameFemale' class='userLabel'>Name</label>
        </div>
        <div class='input-field col s2'>
        <select id='typeFemaleTrans'>
          <option disabled selected>--Type--</option>
          <option value="cocktail">Cocktail</option>
          <option value="ballgown">Ballgown</option>
          <option value="long-gown">Long Gown</option>
          <option value="others">Others</option>
        </select>
        </div>
        <div class='input-field col s2'>
          <select id='fabricFemaleTrans'>
            <option disabled selected>--Fabric--</option>
            <option value='chiffon'>Chiffon</option>
            <option value="organza">Organza</option>
            <option value='tulle'>Tulle</option>
            <option value='satin'>Satin</option>
            <option value='lace'>Lace</option>
            <option value='silk'>Silk</option>
            <option value="velvet">Velvet</option>
          </select>
        </div>
        <div class='input-field col s2'>
        <input type="file" id="imgFemaleTrans">
        </div>
        <div class='col s2'>
          <img class="responsive-img" id ='femaleTailorImageTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s1'>
        <input type="number" id="chestFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='chestFemale' class='userLabel'>Chest</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="bustFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='bustFemale' class='userLabel'>Bust</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="hipFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='hipFemale' class='userLabel'>Hip</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="waistFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='waistFemale' class='userLabel'>Waist</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="wristFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='wristFemale' class='userLabel'>Wrist</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="shoulderFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='shoulderFemale' class='userLabel'>Shoulder</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="frontskirtFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='frontskirtFemale' class='userLabel'>Front Skirt</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="backskirtFemaleTrans" min='0' max='99' maxlength='3'>
        <label for='backskirtFemale' class='userLabel'>Back Skirt</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="priceFemaleTrans" min='0' max='99'>
        <label for='priceFemale' class='userLabel'>Price</label>
        </div>
      </div>
      <div class='row' style="height: 80px;">
      </div>
    </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'attireFemaleModalButtonTrans'>Done</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
