
  <!-- Modal Structure -->
  <div id="measurementMaleModalTrans" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitleTrans'>Tailor Attire Male</h5>
      <div class='row'>
        <div class='input-field col s4'>
        <input type='text' id="nameMaleTrans" class='validate'>
        <label for='nameMale' class='userLabel'>Name</label>
        </div>
        <div class='input-field col s2'>
        <select id='typeMaleTrans'>
          <option disabled selected>--Type--</option>
          <option value="coat">Coat</option>
          <option value="slacks">Slacks</option>
          <option value="polo">Polo</option>
          <option value="vest">Vest</option>
          <option value="others">Others</option>
        </select>
        </div>
        <div class='input-field col s2'>
          <select id='fabricMaleTrans'>
            <option disabled selected>--Fabric--</option>
            <option value='cotton'>Cotton</option>
            <option value="wool">Wool</option>
            <option value='polyester'>Polyester</option>
            <option value='linen'>Linen</option>
            <option value='silk'>Silk</option>
            <option value="velvet">Velvet</option>
          </select>
        </div>
        <div class='input-field col s2'>
          <input type="file" id="imgMaleTrans">
        </div>
        <div class='col s2'>
          <img class="responsive-img" id ='maleTailorImageTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s1'>
        <input type="number" id="neckMaleTrans" min='0' max='99' maxlength='3'>
        <label for='neckMale' class='userLabel'>Neck</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="chestTrans" min='0' max='99' maxlength='3'>
        <label for='chestMale' class='userLabel'>Chest</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="waistMaleTrans" min='0' max='99' maxlength='3'>
        <label for='waistMale' class='userLabel'>Waist</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="seatMaleTrans" min='0' max='99' maxlength='3'>
        <label for='seatMale' class='userLabel'>Seat</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="hipMaleTrans" min='0' max='99' maxlength='3'>
        <label for='hipMale' class='userLabel'>Hip</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="sleevesMaleTrans" min='0' max='99' maxlength='3'>
        <label for='sleevesMale' class='userLabel'>Sleeves</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="backlengthMaleTrans" min='0' max='99' maxlength='3'>
        <label for='backlengthMale' class='userLabel'>Back Length</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="inseamMaleTrans" min='0' max='99' maxlength='3'>
        <label for='inseamMale' class='userLabel'>Inseam</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="outseamMaleTrans" min='0' max='99' maxlength='3'>
        <label for='outseamMale' class='userLabel'>Outseam</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="hemMaleTrans" min='0' max='99' maxlength='3'>
        <label for='hemMale' class='userLabel'>Hem</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="shoulderMaleTrans" min='0' max='99'>
        <label for='shoulderMale' class='userLabel'>Price</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="wristMaleTrans" min='0' max='99'>
        <label for='wristMale' class='userLabel'>Price</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="priceMaleTrans" min='0' max='99'>
        <label for='priceMale' class='userLabel'>Price</label>
        </div>
      </div>
      <div class='row' style="height: 80px;">
      </div>
    </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat" id = 'attireMaleModalButtonTrans'>Done</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
