<div id="tailorattireModalTrans" class="modal bottom-sheet" style='max-height:100%;'>
  <div class="modal-content">
    <h5 id = 'editUserTitleTrans'>Tailor Attire</h5>
    <div class='row'>
      <div class='input-field col s3'>
        <input type='date' id='claimdateTrans' class='datepicker1'>
        <label for='claimdateTrans' class='userLabel'>Claims Date</label>
      </div>
      <div class='col s3'>
        <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='tailorAttireMaleTrans'>Tailor Attire Male</a>
      </div>
      <div class='col s3'>
        <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='tailorAttireFemaleTrans'>Tailor Attire Female</a>
      </div>
      <div class='col s3'>
      <img class="responsive-img" style="height: 200px; width:200px; border: 1px solid black;" id ='ImageViewTailorTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100px; width:100px;">
      </div>
    </div>
   
    <div class='row'>
          <ul class='tabs'>
            <li class='tab col s2'><a href='#maleTabTrans'>Male Attire</a></li>
            <li class='tab col s2'><a href="#femaleTabTrans">Female Attire</a></li>
          </ul>
        <div id='maleTabTrans'>
          <div class='col s12'>
            <table class='highlight'>
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Category</td>
                  <td>Neck</td>
                  <td>Chest</td>
                  <td>Waist</td>
                  <td>Seat</td>
                  <td>Hip</td>
                  <td>Shoulder</td>
                  <td>Wrist</td>
                  <td>Sleeves</td>
                  <td>Back Length</td>
                  <td>Inseam</td>
                  <td>Outseam</td>
                  <td>Hem</td>
                  <td>Fabric</td>
                  <td>Price</td>
                  <td>Type</td>
                  <td>Remove</td>
                  <td>Add To Inventory</td>
                </tr>
              </thead>
              <tbody id = 'putTailorMaleHereTrans'>
              </tbody>
            </table>
          </div>

        </div>
        <div id='femaleTabTrans'>
          <div class='col s12'>
            <table class='highlight'>
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Category</td>
                  <td>Chest</td>
                  <td>Bust</td>
                  <td>Hip</td>
                  <td>Waist</td>
                  <td>Wrist</td>
                  <td>Shoulder</td>
                  <td>Front Skirt</td>
                  <td>Back Skirt</td>
                  <td>Fabric</td>
                  <td>Type</td>
                  <td>Price</td>
                  <td>Remove</td>
                  <td>Add To Inventory</td>
                </tr>
              </thead>
              <tbody id = 'putTailorFemaleHereTrans'>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'tailorAttireModalButtonTrans'>Done</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
</div>
