
  <!-- Modal Structure -->
  <div id="addTransactionModal" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitleTrans'>Transaction Details</h5>
        <div class='row'>
            <div class='row'>
                <div class='section'>
                    <h5 style='padding-left: 20px'>Transaction Form</h5>
                </div>
                <div class='divider'></div>
            </div>
            <div class='row'>

                <div class='input-field col s3'>
                    <input type='text' id='depositTrans' >
                    <label for = 'deposit' class='userLabel'>Deposit</label>
                </div>
                <div class='input-field col s3'>
                    <input type='date' id='eventDateStartTrans' class="datepicker1">
                    <label for='eventDateStart' class='userLabel'>Event Date Start</label>
                </div>
                <div class='input-field col s3'>
                    <input type='date' id='eventDateEndTrans' class="datepicker1">
                    <label for='eventDateEnd' class='userLabel'>Event Date End</label>
                </div>
                <div class='input-field col s3'>
                    <input type='text' id='eventTimeStartTrans' class='validate'>
                    <label for = 'eventTimeStartTrans' class='userLabel'>Event Time Start</label>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s3'>
                        <input type="text" class="timepicker" id = 'eventTimeEndTrans'>
                        <label for='eventTimeEnd' class='userLabel'>Event Time End</label>
                </div>
                <div class='input-field col s3'>
                    <input type='text' id='eventTimeTrans' class='validate'>
                    <label for = 'eventTime' class='userLabel'>Time Transacted</label>
                </div>
                <div class='input-field col s3'>
                    <input type='number' id='totalPaymentTrans' class='validate' min='0'>
                    <label for='budget' class='userLabel'>Total Payment</label>
                </div>
                <div class='input-field col s3'>
                    <input type='number' id='downpaymentTrans' class='validate' min='0'>
                    <label for='downpayment' class='userLabel'>Downpayment</label>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s3'>
                    <input type='date' id='eventDateTrans' class='datepicker1'>
                    <label for = 'eventDate' class='userLabel'>Date Transacted</label>
                </div>
            </div>

            <div class='divider'></div>
            <div class='row'>
                <div class='input-field col s6'>
                    <select id='themeTrans'>
                        <option disabled selected>--Theme--</option>
                    </select>
                </div>
                <div class='input-field col s6'>
                    <select id='cakeTrans' multiple>
                        <option disabled selected>--Cake Design--</option>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class='col s5' style="height: 250px; border: 1px solid black; margin-left: 20px;" id='previewThemeTrans'>
                  <img class="responsive-img" id ='themeImageTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
                </div>
                <div class='col s5' style="height: 250px; border: 1px solid black; margin-left: 120px;" id='previewCakeTrans'>
                  <img class="responsive-img" id ='cakeImageTrans' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
                </div>
            </div>
            <div class='divider'></div>
            <div class="row">
                <div class='col s3'> <!--col s3 push-s1--> 
                <a class='waves-effect green darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='rentAttireButtonTrans'>Rent Attire</a>
                </div>
                <div class='col s3'> <!-- col s3 push-s4-->
                <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='tailorAttireButtonTrans'>Tailor Attire</a>
                </div>
                <!--div class='input-field col s2'>
                    <input type='radio' id='photographer' name='photographer' class='validate'>
                    <label for='photographer' class='userLabel'>Photographer</label>
                    <select id = 'photographerTrans'>
                      <option disabled selected>--Photographer--</option>
										</select>
                </div>
                <div class="input-field col s2">
                    <!--input type='radio' id='stylist' name='stylist' class='validate'>
                    <label for='stylist' class='userLabel'>Stylist</label>
                    <select id = 'stylistTrans'>
                      <option disabled selected>--Stylist--</option>
										</select>
                </div-->
            </div>
            <div class='row'>
                <div class='input-field col s2'>
                    <select id = 'photographerTrans'>
                    </select>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker" id = 'photoStartDateTrans'>
                    <label for='photoStartDateTrans' class='userLabel'>Start Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker" id = 'photoEndDateTrans'>
                    <label for='photoEndDateTrans' class='userLabel'>End Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'photoStartTimeTrans'>
                    <label for='photoStartTimeTrans' class='userLabel'>Start Time</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'photoEndTimeTrans'>
                    <label for='photoStartTimeTrans' class='userLabel'>End Time</label>
                </div>
            </div>
            <div class='divider'></div>
            <div class='row'>
                <div class='input-field col s2'>
                    <select id = 'stylistTrans'>
                    </select>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker" id='stylistStartDateTrans'>
                    <label for='stylistStartDateTrans' class='userLabel'>Start Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker" id='stylistEndDateTrans'>
                    <label for='stylistEndDateTrans' class='userLabel'>End Date</label>
                </div>
                 <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'stylistStartTimeTrans'>
                    <label for='stylistStartTimeTrans' class='userLabel'>Start Time</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'stylistEndTimeTrans'>
                    <label for='stylistStartTimeTrans' class='userLabel'>End Time</label>
                </div>
            </div>
        </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat" id = 'transacUpdateModalButtonTrans'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
