<div id="addItemToInventoryModal" class="modal" style='max-height:80%;'>
    <div class="modal-content">
      <div class='row'>
        <h5 id='addItemTitle'>Add item to inventory</h5>
      </div>
      <div class='row'>
        <div class='s6'>
            <p>
                <input name="genderRadioButton" type="radio" id="maleRadioButton" />
                <label for="maleRadioButton">Male</label>
              </p>
        </div>
        <div class='s6'>
            <p>
                <input name="genderRadioButton" type="radio" id="femaleRadioButton" />
                <label for="femaleRadioButton">Female</label>
            </p>
        </div>
      </div>
      <div class='row'>
        <div class='col s4'>
            <label>Type</label>
            <div class='input-field col s12'>
                <select id = 'typeTailorItem'>
                    <option value = 'kids'>Kids</option>
                    <option value ='teens'>Teens</option>
                    <option value = 'adults'>Adults</option>
                </select> 
            </div>
        </div>
        <div class='col s4'>
            <label>Category</label>
            <div class='input-field col s12'>    
                <select id = 'categoryTailorItem'>
                    <option value='cocktail'>Cocktail</option>
                    <option value='ballgown'>Ballgown</option>
                    <option value='longdress'>Long Dress</option>
                    <option value='others'>Others</option>
                </select> 
            </div>
        </div>
        <div class='col s4'>
                <label>Color</label>
            <div class='input-field col s12'>         
                <select id = 'colorTailorItem'>
                        <option value='black'>Black</option>
                        <option value='gray'>Gray</option>
                        <option value='white'>White</option>
                        <option value='brown'>Brown</option>
                        <option value='red'>Red</option>
                        <option value='orange'>Orange</option>
                        <option value='yellow'>Yellow</option>
                        <option value='green'>Green</option>
                        <option value='blue'>Blue</option>
                        <option value='pink'>Pink</option>
                        <option value='violet'>Violet</option>
                        <option value='purple'>Purple</option>
                </select> 
            </div>        
        </div>
        </div>
      <div class='row'>
        <div class='input-field col s3'>
            <input type="number" class="validate" id = 'quantityTailor'>
            <label for='quantityTailor' class='userLabel'>Quantity</label>
        </div>
        <div class='input-field col s3'>
            <input type="number" class="validate" id = 'priceTailor'>
            <label for='priceTailor' class='userLabel'>Price</label>
        </div>
        <div class='input-field col s3'>
            <input type="date" class="datepicker1" id = 'dateToBeReturnTailor'>
            <label for='dateToBeReturnTailor' class='userLabel'>Date to be returned</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'addItemToInventoryButton'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
  