<div id="confirmConflictModal" class="modal" style='max-height:80%;'>
    <div class="modal-content">
      <div class='row'>
        <h5 id='confirmConflictTitle'>This schedule has a conflict. Do you want to continue?</h5>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'confirmConflictSave'>Yes</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
  