<div id="deleteModal" class="modal" style='max-height:80%;'>
  <div class="modal-content">
    <div class='row'>
      <h5 id='deleteTitle'>Are you sure you want to delete?</h5>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'deleteConfirmButton'>Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
