
  <!-- Modal Structure -->
  <div id="customerModal" class="modal bottom-sheet" style='max-height:80%;'>
    <div class="modal-content">
      <h5 id = 'editCustomerTitle'>Customer Information</h5>
      <div class='row'>
        <div class='input-field col s4'>
          <input id ='custFirstName' type='text' class='validate'>
          <label for='custFirstName' class='userLabel'>First Name</label>
        </div>
        <div class='input-field col s4'>
          <input id ='custMiddleName' type='text' class='validate'>
          <label for='custMiddleName' class='userLabel'>Middle Name</label>
        </div>
        <div class='input-field col s4'>
          <input id ='custLastName' type='text' class='validate'>
          <label for='custLastName' class='userLabel'>Last Name</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <div class='row'>
          <div class='col s6' id='custRadioMale'>
            <input type ='radio' id ='custGenderMale'  name = 'gender' value='Male'>
            <label for='custGender' class='userLabel'>Male</label>
          </div>
          <div class='col s6' id='custRadioFemale'>
            <input type ='radio' id ='custGenderFemale'  name = 'gender' value='Female'>
            <label for='custGender' class='userLabel'>Female</label>
          </div>
          </div>
        </div>
        <div class='input-field col s4'>
          <input type ='text' id ='custAddress' class='validate col s12 autocomplete'>
          <label for='custAddress' class='userLabel'>Address</label>
        </div>
        <div class='input-field col s4'>
          <input type ='text' id ='custContact' class='validate'>
          <label for='custContact' class='userLabel'>Contact #</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action  waves-effect waves-green btn-flat" id = 'saveCustomerButton'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
