
  <!-- Modal Structure -->
  <div id="inventoryModal" class="modal bottom-sheet" style='max-height:80%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Inventory Information</h5>

      <div class='row'>
        <div class='input-field col s4'>
          <input id ='itemCode' type='text' class='validate' readonly>
          <label for='itemCode' class='userLabel'>Item Code</label>
        </div>
        <div class='input-field col s4'>
          <input type ='number' id ='itemQty' class='validate'>
          <label for='itemQty' class='userLabel'>Qty</label>
        </div>
        <div class='input-field col s4'>
          <input type ='number' id ='itemPrice' class='validate'>
          <label for='itemPrice' class='userLabel'>Price</label>
        </div>
      </div>
      <div class='row'>
        <div class='col s4'>
          <select id='category' class="mydropdown">
            <option value='cocktail'>Cocktail</option>
            <option value='ballgown'>Ballgown</option>
            <option value='longdress'>Long Dress</option>
            <option value='others'>Others</option>
          </select>
        </div>

        <div class='col s4'>
          <select id='type' class='mydropdown'>
            <option value = 'kids'>Kids</option>
            <option value ='teens'>Teens</option>
            <option value = 'adults'>Adults</option>
          </select>
        </div>

        <div class='col s4'>
          <select id='color' class='mydropdown'>
            <option value='black'>Black</option>
            <option value='gray'>Gray</option>
            <option value='white'>White</option>
            <option value='brown'>Brown</option>
            <option value='red'>Red</option>
            <option value='orange'>Orange</option>
            <option value='yellow'>Yellow</option>
            <option value='green'>Green</option>
            <option value='blue'>Blue</option>
            <option value='pink'>Pink</option>
            <option value='violet'>Violet</option>
            <option value='purple'>Purple</option>
          </select>
        </div>
      </div>
      <div class='row'>
        <div class='col s4'>
            <div class='row'>
              <center><img class="responsive-img" id ='invImage' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style='height:100px; width:100px;'></center>
            </div>
            <div  class='row'>
              <div class="file-field input-field col s12">
                <div class="btn">
                  <span>File</span>
                  <input type="file" id = 'uploadImageInventory' accept=".png,.jpg">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
        </div>
        <div class='col s4' id='custRadioMale'>
          <input type ='radio' id ='invGenderMale'  name = 'gender' value='Male'>
          <label for='invGenderMale' class='userLabel'>Male</label>
        </div>
        <div class='col s4' id='custRadioFemale'>
          <input type ='radio' id ='invGenderFemale'  name = 'gender' value='Female'>
          <label for='invGenderFemale' class='userLabel'>Female</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <input id ='damagedItems' type='text' class='validate'>
          <label for='damagedItems' class='userLabel'>Damaged Items</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action  waves-effect waves-green btn-flat" id = 'saveItemButton'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
