
  <!-- Modal Structure -->
  <div id="measurementMaleModal2" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle2'>Tailor Attire Male</h5>
      <div class='row'>
        <div class='input-field col s4'>
        <input type='text' id="nameMale2" class='validate'>
        <label for='nameMale' class='userLabel'>Name</label>
        </div>
        <div class='input-field col s2'>
        <select id='typeMale2'>
          <option disabled selected>--Type--</option>
          <option value="coat">Coat</option>
          <option value="slacks">Slacks</option>
          <option value="polo">Polo</option>
          <option value="vest">Vest</option>
          <option value="others">Others</option>
        </select>
        </div>
        <div class='input-field col s2'>
          <select id='fabricMale2'>
            <option disabled selected>--Fabric--</option>
            <option value='cotton'>Cotton</option>
            <option value="wool">Wool</option>
            <option value='polyester'>Polyester</option>
            <option value='linen'>Linen</option>
            <option value='silk'>Silk</option>
            <option value="velvet">Velvet</option>
          </select>
        </div>
        <div class='input-field col s2'>
          <input type="file" id="imgMale2">
        </div>
        <div class='col s2'>
          <img class="responsive-img" id ='maleTailorImage2' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s1'>
        <input type="number" id="neckMale2" min='0' max='99' maxlength='3'>
        <label for='neckMale' class='userLabel'>Neck</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="chest2" min='0' max='99' maxlength='3'>
        <label for='chestMale' class='userLabel'>Chest</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="waistMale2" min='0' max='99' maxlength='3'>
        <label for='waistMale' class='userLabel'>Waist</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="seatMale2" min='0' max='99' maxlength='3'>
        <label for='seatMale' class='userLabel'>Seat</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="hipMale2" min='0' max='99' maxlength='3'>
        <label for='hipMale' class='userLabel'>Hip</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="sleevesMale2" min='0' max='99' maxlength='3'>
        <label for='sleevesMale' class='userLabel'>Sleeves</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="backlengthMale2" min='0' max='99' maxlength='3'>
        <label for='backlengthMale' class='userLabel'>Back Length</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="inseamMale2" min='0' max='99' maxlength='3'>
        <label for='inseamMale' class='userLabel'>Inseam</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="outseamMale2" min='0' max='99' maxlength='3'>
        <label for='outseamMale' class='userLabel'>Outseam</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="hemMale2" min='0' max='99' maxlength='3'>
        <label for='hemMale' class='userLabel'>Hem</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="shoulderMale2" min='0' max='99'>
        <label for='shoulderMale' class='userLabel'>Shoulder</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="wristMale2" min='0' max='99'>
        <label for='wristMale' class='userLabel'>Wrist</label>
        </div>
        <div class='input-field col s1'>
        <input type="number" id="priceMale2" min='0' max='99'>
        <label for='priceMale' class='userLabel'>Price</label>
        </div>
      </div>
      <div class='row' style="height: 80px;">
      </div>
    </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'attireMaleModalButton2'>Done</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
