
  <!-- Modal Structure -->
  <div id="editPaymentModal" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Payment</h5>
      <div class='row'>
          <div class='col s3'>

            <div class='row'>
                <label class='col s12'>Location</label>
              <select id = 'paymentLocation' class='col s12'>

              </select>
            </div>
          </div>
          <div class='input-field col s3'>
            <input type='number' id='totalPaymentss' minlength="0" readonly>
            <label for='totalPayment' class='paymentLabel'>Total Payment</label>
          </div>
          <div class='input-field col s3'>
            <input type='number' id='amountDeposit' minlength="0">
            <label for='amountDeposit' class='paymentLabel'>Amount Deposit</label>
          </div>
          <div class='input-field col s3'>
            <input type='number' id='currentBalance' minlength="0" readonly>
            <label for='currentBalance' class='paymentLabel'>Current Balance</label>
          </div>
      </div>
      <div class='row'>
        <div class='input-field col s2'>
            <input type='number' id='payBalance' minlength="0">
            <label for='payBalance' class='paymentLabel'>Pay Balance</label>
        </div>
        <div class='col s2'>
            <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='returnDepositss'>Return Deposit</a>
        </div>
        <div class='col s2'>
            <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='notReturnedButton'>Not Returned</a>
        </div>
        <div class='col s2'>
            <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='claimItem'>Claim Item</a>
        </div>
        <div class='col s2'>
            <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='returnTailorAttire'>Return Item</a>
        </div>
      </div>
    </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat" id = 'updatePaymentButton'>Update</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
