
  <!-- Modal Structure -->
  <div id="userModal" class="modal bottom-sheet" style='max-height:80%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Modal Header</h5>
      <div class='row'>
        <div class='input-field col s4'>
          <input id ='userFirstName' type='text' class='validate'>
          <label for='username' class='userLabel'>First Name</label>
        </div>
        <div class='input-field col s4'>
          <input id ='userMiddleName' type='text' class='validate'>
          <label for='username' class='userLabel'>Middle Name</label>
        </div>
        <div class='input-field col s4'>
          <input id ='userLastName' type='text' class='validate'>
          <label for='username' class='userLabel'>Last Name</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <input type ='text' id ='userUserName' class='validate'>
          <label for='userUserName' class='userLabel'>Username</label>
        </div>
        <div class='input-field col s4'>
          <input type ='text' id ='userPassword' class='validate'>
          <label for='userPassword' class='userLabel'>Password</label>
        </div>
        <div class='input-field col s4'>
          <input type ='text' id ='userContact' class='validate' maxlength="11">
          <label for='userContact' class='userLabel'>Contact #</label>
        </div>
      </div>
      <div class='row'>
        <div class='col s6'>
          <label for='userStatus'>Status</label>
          <select id='userStatus'>
            <option value='Active'>Active</option>
            <option value='Inactive'>Inactive</option>
          </select>
        </div>
        <div class='col s6'>
          <label for='userType'>User Type</label>
          <select id='userType'>
            <option value='Admin'>Admin</option>
            <option value='Regular User'>Regular User</option>
          </select>
          </div>
          <!--div class='input-field col s6'>
            <input type ='text' id ='userType' class='validate' readonly>
            <label for='userType' class='userLabel'>User Type</label>
          </div-->
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action  waves-effect waves-green btn-flat" id = 'saveUserButton'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
