
  <!-- Modal Structure -->
  <div id="rentattireTransactionModal" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Transaction Details</h5>
        <div class='row'>
            <div class='row'>
                <div class='section'>
                    <h5 style='padding-left: 20px'>Transaction Form</h5>
                </div>
                <div class='divider'></div>
            </div>
            <div class='row'>
              <div class='input-field col s3'>
                    <select id='selectedLocation'>
                        <option disabled selected>--Location--</option>
                    </select>
                </div>
                <div class='col s3'>
                  <div class='row'>
                    <a id = 'addLocationLink' class='genericLink' href = "#">Add another location</a>
                  </div>
                  <div class='row'>
                    <a id = 'removeLocationLink' class='genericLink' href = "#">Remove location</a>
                  </div>
                </div>

                  <div class='input-field col s3'>
                      <input type='date' id='eventDateStart' class="datepicker1">
                      <label for='eventDateStart' class='userLabel'>Event Date Start</label>
                  </div>
                  <div class='input-field col s3'>
                      <input type='date' id='eventDateEnd' class="datepicker1">
                      <label for='eventDateEnd' class='userLabel'>Event Date End</label>
                  </div>

            </div>
            <div class='row'>
                <div class='input-field col s3'>
                    <input type='date' id='eventDate' class='datepicker1'>
                    <label for = 'eventDate' class='userLabel'>Date Transacted</label>
                </div>
                <div class='input-field col s3'>
                    <input type='text' id='eventTime' class='validate'>
                    <label for = 'eventTime' class='userLabel'>Time Transacted</label>
                </div>
                <div class='input-field col s3'>
                    <input type='number' id='totalPayment' class='validate' min='0'>
                    <label for='budget' class='userLabel'>Total Payment</label>
                </div>
                <div class='input-field col s3'>
                    <input type='number' id='downpayment' class='validate' min='0'>
                    <label for='downpayment' class='userLabel'>Downpayment</label>
                </div>
            </div>
            <div class='row'>
              <div class='input-field col s3'>
                  <input type='text' id='deposit' >
                  <label for = 'deposit' class='userLabel'>Deposit</label>
              </div>
              <div class='input-field col s3'>
                <input type="text" class="timepicker" id = 'eventTimeStart'>
                <label for='eventTimeStart' class='userLabel'>Event Time Start</label>
            </div>
            </div>
            <div class='divider'></div>
            <div class='row'>
                <div class='input-field col s6'>
                    <select id='theme'>
                        <option disabled selected>--Theme--</option>
                    </select>
                </div>
                <div class='input-field col s6'>
                    <select id='cake' multiple>
                        <option disabled selected>--Cake Design--</option>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class='col s5' style="height: 250px; border: 1px solid black; margin-left: 20px;" id='previewTheme'>
                  <img class="responsive-img" id ='themeImage' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
                </div>
                <div class='col s5' style="height: 250px; border: 1px solid black; margin-left: 120px;" id='previewCake'>
                  <img class="responsive-img" id ='cakeImage' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
                </div>
            </div>
            <div class='divider'></div>
            <div class="row">
                <div class='col s3'> <!--col s3 push-s1-->
                <a class='waves-effect green darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='rentAttireButton'>Rent Attire</a>
                </div>
                <div class='col s3'> <!-- col s3 push-s4-->
                <a class='waves-effect light-blue darken-3 btn change col s11' style='margin-top: 20px; margin-bottom: 20px;' id='tailorAttireButton'>Tailor Attire</a>
                </div>
                <!--<div class='input-field col s2'>-->
                    <!--input type='radio' id='photographer' name='photographer' class='validate'>
                    <label for='photographer' class='userLabel'>Photographer</label-->
                    <!--<select id = 'photographer'>-->
										<!--</select>-->
                <!--</div>-->
                <!--<div class="input-field col s2">-->
                    <!--input type='radio' id='stylist' name='stylist' class='validate'>
                    <label for='stylist' class='userLabel'>Stylist</label-->
                    <!--<select id = 'stylist'>-->
										<!--</select>-->
                <!--</div>-->
            </div>
            <div class='row'>
                <div class='input-field col s2'>
                    <select id = 'photographer'>
                    </select>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker1" id = 'photoStartDate'>
                    <label for='photoStartDate' class='userLabel'>Start Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker1" id = 'photoEndDate'>
                    <label for='photoEndDate' class='userLabel'>End Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'photoStartTime'>
                    <label for='photoStartTime' class='userLabel'>Start Time</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'photoEndTime'>
                    <label for='photoStartTime' class='userLabel'>End Time</label>
                </div>
            </div>
            <div class='divider'></div>
            <div class='row'>
                <div class='input-field col s2'>
                    <select id = 'stylist'>
                    </select> 
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker1" id='stylistStartDate'>
                    <label for='stylistStartDate' class='userLabel'>Start Date</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="datepicker1" id='stylistEndDate'>
                    <label for='stylistEndDate' class='userLabel'>End Date</label>
                </div>
                 <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'stylistStartTime'>
                    <label for='stylistStartTime' class='userLabel'>Start Time</label>
                </div>
                <div class='input-field col s2'>
                    <input type="text" class="timepicker" id = 'stylistEndTime'>
                    <label for='stylistStartTime' class='userLabel'>End Time</label>
                </div>
            </div>
        </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'transacUpdateModalButton'>Save</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" id = 'closeTransacUpdateModalButton'>Cancel</a>
    </div>
  </div>
