<div id="packageModal" class="modal bottom-sheet" style='max-height:100%;'>
	<div class="modal-content">
	<h5 id = 'editUserTitle'>Package</h5>
		<div class='row'>
	        <div class='col s6'  style="height: 200px; overflow-y: auto;">
	          <table class="highlight">
	          <thead>
	            <tr>
	              <th>Item Code</th>
	              <th>Qty</th>
	              <th>Price</th>
	              <th>Add Item</th>
	            </tr>
	          </thead>
	          <tbody id = 'loadPackageItemsHere'>

	          </tbody>
	        </table>
	        <center>
	          <ul id = 'addpackagePagination'>
	          </ul>
	        </center>
	        </div>
	        <div class='col s3'>
			    <div class='input-field'>
			    	<input type='text' id='packageName'>
			        <label for='packageName' class='userLabel'>Package Name</label>
			    </div>
			    <div class='input-field'>
			        <input type='text' id='packagePrice'>
			        <label for='packagePrice' class='userLabel'>Package Price</label>
					</div>
					<div class='input-field'>
						<input type='text' id='packageDescription'>
						<label for='packageDescription' class='userLabel'>Description</label>
					</div>
		    </div>
	        <div class='col s3'>
	          <div class='col s5' style="height: 200px; width:200px; border: 1px solid black; margin-left: 20px;" id='previewItem'>
	            <img class="responsive-img" id ='packageInventoryImage' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style="height:100%; width:100%;">
	          </div>
	        </div>
	    </div>
	    <div class="divider"></div>
      	<div class='row' style="height: 200px; overflow-y: auto;">
	        <div class='col s6'>
						<div>
	          	<table class="highlight">
	            <thead>
	              <tr>
	                <th>PackageName</th>
	                <th>PackagePrice</th>
	                <th>Edit</th>
	              </tr>
								</thead>
								<tbody id = "addPackageItemsHere">

								</tbody>
							</table>
						</div>
						<div>
							<div class='row'>
									<center>
									<ul id = 'packagePagination'></ul>
									</center>
							</div>
						</div>
					</div>
					<div class='col s6'>
							<table class="highlight">
									<thead>
										<tr>
											<th>Item Code</th>
											<th>Qty</th>
											<th>Price</th>
											<th>remove Item</th>
										</tr>
									</thead>
									<tbody id = 'loaditemsofpackagehere'>
			
									</tbody>
								</table>
					</div>
				</div>
			
	</div>
	<div class='modal-footer'>
		<a href="#!" class="modal-action  waves-effect waves-green btn-flat" id = 'addPackageButton'>Add</a>
		<a href="#!" class="modal-action  waves-effect waves-green btn-flat" id = 'editPackageButton'>Edit</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
	</div>
</div>
