
  <!-- Modal Structure -->
  <div id="rentattireModal" class="modal bottom-sheet" style='max-height:100%;'>
    <div class="modal-content">
      <h5 id = 'editUserTitle'>Rent Attire</h5>
      <div class='row'>
        <div class='input-field col s3'> 
          <input type='date' id='rentstartdate' class='datepicker1'>
          <label for='rentdate' class='userLabel active'>Date Start Rent</label>
        </div>
        <div class='input-field col s3'>
          <input type='date' id='rentenddate' class='datepicker1'>
          <label for='rentenddate' class='userLabel active'>Date End Rent</label>
        </div>
      </div>
      <div class='row'>
        <div class='col s8'  style="height: 200px; overflow-y: auto;">
          <table class="highlight">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Add Item</th>
              <th>View Image</th>
            </tr>
          </thead>
          <tbody id = 'loadInventoryItemsHere'>

          </tbody>
        </table>
        <center>
          <ul id = 'inventoryPagination'>
          </ul>
        </center>
        </div>
        <div class='col s4'>
          <div class='input-field'>
          <select id='rentpackage'>
            <!--Load Packages List-->
          </select>
          </div>
          <div class='input-field'>
            <input type='text' id='packagePrice'>
            <label for='packagePrice' class='userLabel'>Package Price</label>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class='row' style="height: 200px; overflow-y: auto;">
        <div class='col s12'>
          <table class="highlight">
            <thead>
              <tr>
                <td>Item Code</td>
                <td>Qty</td>
                <td>Total Price</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody id = "addItemsHere">

            </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'rentAttireModalButton'>Done</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
