
  <!-- Modal Trigger -->
  
  

    <div id="imagemodal" class="modal">
      <!--div class="modal-content"-->
      <center><img class="responsive-img" src="" id = 'itemImageModal' style = 'width:100%; height:100%;'></center>
        
      <!--/div-->
      <!--div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div-->
    </div>
            