<div id="removeLocationModal" class="modal" style='max-height:80%;'>
  <div class="modal-content">
    <div class='row'>
      <table class='highlight'>
        <thead>
          <tr>
            <th>
              Location
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody id = 'putLocationHere'>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
