<div id="returnTailorAttireModal" class="modal bottom-sheet" style='max-height:80%;'>
	<div class='modal-content'>
		<h5 id = 'editUserTitle'>Add To Inventory</h5>
		<div class='row'>
			<ul class='tabs'>
            <li class='tab col s2'><a href='#returnmaleTab'>Male Tailor</a></li>
            <li class='tab col s2'><a href="#returnfemaleTab">Female Tailor</a></li>
          	</ul>
          	<div id='returnmaleTab'>
	          	<table class='highlight'>
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Price</th>
			            <th>Add Item</th>
			          </tr>
			        </thead>
			        <tbody id = 'loadmaleTailorAttireHere'>
			        </tbody>
	      		</table>	          		
          	</div>
          	<div id='returnfemaleTab'>
	          	<table class='highlight'>
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Price</th>
			            <th>Add Item</th>
			          </tr>
			        </thead>
			        <tbody id = 'loadfemaleTailorAttireHere'>
			        </tbody>
	      		</table>	          		
          	</div>
		</div>
	</div>
	<div class='modal-footer'>
		<a href="#!" class="modal-action waves-effect waves-green btn-flat">Done</a>
    	<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
	</div>
</div>
