<div id="returnItemsModal" class="modal" style='max-height:80%;'>
  <div class="modal-content">
    <div class='row'>
      <h5>Items to be returned</h5>
      <table class='highlight'>
        <thead>
          <tr>
            <th>Item Code</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Add Item</th>
            
          </tr>
        </thead>
        <tbody id = 'loadItemsRentedInventoryHere'>
        </tbody>
      </table>
    </div>
    <div class='row'>
        <center><img class="responsive-img" id ='invReturnImage' src="../public/images/default.jpg" alt = "../public/images/default.jpg" style='height:100px; width:100px;'></center>
    </div>
    <div class='row'>
      <h5>Items Rented</h5>
      <table class='highlight'>
        <thead>
          <tr>
            <th>Item Code</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Add Item</th>
            <th>Damaged Item</th>
          </tr>
        </thead>
        <tbody id = 'loadItemsReturnedIventoryHere'>
        </tbody>
      </table>
    </div>
    <div class='row'>
      <div class='input-field col s6'>
        <input type='number' id='depositReturnedInventory' minlength="0">
        <label for='currentBalance' class='paymentLabel'>Deposit Returned</label>
      </div>
      <div class='input-field col s6'>
        <input type='number' id='depositOnHandInventory' minlength="0" readonly>
        <label for='currentBalance' class='paymentLabel'>Deposit On Hand</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat" id = 'confirmReturnItemsButton'>Confirm</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
