<div id="viewTempoItemsModal" class="modal" style='max-height:80%;'>
    <div class="modal-content">
        <div class='row'>
            <h5 id='temporaryItemsTitle'>Temporary Items from tailor</h5>
        </div>
        <div class='row'>
            <table class='col s12'>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Gender</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Date to be returned</th>
                        <th>Put To Inventory</th>
                    </tr>
                </thead>
                <tbody id = "loadTempoItemsHere">

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id = 'deleteConfirmButton'>Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>
      