<ul id="dropdown1" class="dropdown-content">
  <li id='locationPage'><a href="location.html">Location</a></li>
  <li id='themePage'><a href="theme.html">Theme</a></li>
  <li id='cakePage'><a href="cake.html">Cake</a></li>
  <li class="divider"></li>
  <li id='photographerPage'><a href="photographer.html">Photographer</a></li>
  <li id='stylistPage'><a href="stylist.html">Stylist</a></li>
</ul>
<ul id='dropdown2' class='dropdown-content'>
  <li id='transacFormPage'><a href='transactionform.html'>New Transaction</a></li>
  <li class='divider'></li>
  <li id='transacListPage'><a href='transactionlist.html'>Transaction List</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
  <li id='locationPage'><a href="location.html">Location</a></li>
  <li id='themePage'><a href="theme.html">Theme</a></li>
  <li class="divider"></li>
  <li id='cakePage'><a href="cake.html">Cake</a></li>
  <li id='photographerPage'><a href="photographer.html">Photographer</a></li>
  <li id='stylistPage'><a href="stylist.html">Stylist</a></li>
</ul>
<ul id='dropdown4' class='dropdown-content'>
  <li id='transacFormPage'><a href='transactionform.html'>New Transaction</a></li>
  <li class='divider'></li>
  <li id='transacListPage'><a href='transactionlist.html'>Transaction List</a></li>

</ul>
<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo right" style = 'font-size:20px;' id ='logoutButton' onclick='logoutuser()'>LogOut</a>
     <a href="#" data-activates="mobiledemo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li id = 'userPage'><a href="users.html">User</a></li>
       <li id = 'customerPage'><a href="customer.html">Customer</a></li>
       <li id = 'inventoryPage'><a href="inventory.html">Inventory</a></li>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown2" id='dropDownTransac'>Transaction<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1" id='dropDownSettings1'>Settings<i class="material-icons right">arrow_drop_down</i></a></li>
        <li id = 'reportsPage'><a href="reports.html">Report</a></li>
     </ul>
     <ul id="mobiledemo" class="side-nav">
       <li id = 'userPage'><a href="users.html">User</a></li>
       <li id = 'customerPage'><a href="customer.html">Customer</a></li>
       <li id = 'inventoryPage'><a href="inventory.html">Inventory</a></li>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown4" id='dropDownTransac1'>Transaction<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown3" id='dropDownSettings'>Settings<i class="material-icons right">arrow_drop_down</i></a></li>
        <li id = 'reportsPage'><a href="reports.html">Report</a></li>
     </ul>
   </div>
 </nav>
